{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    <section id="books">
        {{ range .Pages.ByDate.Reverse }}
              <div class="book">
                <figure>
                  <a href="{{ .Permalink }}">
                    <img src="{{ .Param "imageUrl" }}" loading="lazy" alt="{{ .Title }}"/>
                  </a>
                </figure>
                <h2>
                  <a href="{{ .Param "goodreadsUrl" }}">
                    {{ .Title }} 
                  </a>
                </h2>
                <small>
                  Date read: {{ .Date.Format "2006-01-02" }}
                </small>
                <p>
                  {{ if .Param "logline" }}
                    {{ .Param "logline" | safeHTML | truncate 400 }}
                  {{ else if .Param "review"}}
                    {{ .Param "review" | safeHTML | truncate 400 }}
                  {{ else }}
                  {{ end }}
                </p>
                <p>
                  {{ if .Param "hasNotes" }}
                    <a href="{{ .Permalink }}">Read my notes</a>
                  {{ else }}
                  {{ end }}
                </p>
              </div>
        {{ end }}
    </section>
</div>
{{ end }}
