{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    <section id="books">
        {{ range .Pages.ByDate.Reverse }}
              <div class="book">
                <figure>
                <a href="{{ .Permalink }}">
                  <img src="{{ .Param "imageUrl" }}" loading="lazy" alt="{{ .Title }}"/>
                </a>
                </figure>
                <h2>
                  <a href="{{ .Permalink }}">
                    {{ .Title }} 
                  </a>
                </h2>
                <small>
                  Date read: {{ .Date.Format "2006-01-02" }}
                </small>
                <p>
                {{ .Param "review" | safeHTML | truncate 200 }}
                </p>
                <p>
                  {{ if .Param "hasNotes" }}
                    <a href="{{ .Permalink }}">Read my notes</a> or go to the
                    <a href="{{ .Param "goodreadsUrl" }}">Goodreads page</a>.
                  {{ else }}
                    Go to the <a href="{{ .Param " goodreadsUrl" }}">Goodreads page</a>.
                  {{ end }}
                </p>
              </div>
        {{ end }}
    </section>
</div>
{{ end }}
