<div id="footer" class="mb-5">
    {{ if eq .Type "post" }}
    <hr>
      <div class="container">
        {{ template "_internal/disqus.html" . }}
      </div>
      <!-- {{ template "partials/utterances.html" . }} -->
    {{ end }}
    <hr>

    <div class="container text-center">
        {{ with .Site.Params.socialIcons }}
          {{ $footer_len := len . }}
          {{ range $i, $item := . }}
            <a href="{{ $item.url }}" title="{{ $item.name }}">
              <i class="{{ $item.icon }} fa-1x"></i>
              {{ $item.name }}
            </a>
            {{ if ne (add $i 1) $footer_len }}
                <span class="nav-item navbar-text mx-1">/</span>
            {{ end }}
          {{ end }}
        {{ end }}
    </div>

    {{ if .IsHome }}
      {{ with .Site.Params.footer }}
          <div class="container text-center">
              <a href="{{ .url | absURL }}" title="{{ .text }}"><small>{{ .text }}</small></a>
          </div>
      {{ end }}
    {{ end }}
    {{ end }}
</div>
