<div id="footer" class="mb-5">
    <hr>
    {{ if eq .Type "post" }}
      <div class="container">
        {{ template "_internal/disqus.html" . }}
      </div>
      <!-- {{ template "partials/utterances.html" . }} -->
    {{ end }}
    {{ if .Site.Params.socialIcons }}
      <hr>
      <div class="container text-center">
          {{ range $item := .Site.Params.socialIcons }}
              <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
          {{ end }}
      </div>
    {{ end }}
    {{ with .Site.Params.footer }}
        <div class="container text-center">
            <a href="{{ .url | absURL }}" title="{{ .text }}" {{ if .blank }}target="_blank"{{ end }}><small>{{ .text }}</small></a>
        </div>
    {{ end }}
</div>
